* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  position: relative;
  min-height: 100vh;
}

.wrapper {
  padding-bottom: 50px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: green;
  border-bottom: 3px solid black;
}

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-image {
  display: flex;
  margin-left: 20px;
}

.header-image img {
  border-radius: 50%;
  max-height: 100px;
  border: 3px solid black;
}

.header-name {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 34px;
  -webkit-text-stroke: 3px black;
}

.header-right {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.header-right a {
  color: white;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

.header-right a:hover,
.dropdown-menu:hover,
.portfolio-item a:hover,
.link-icon a:hover {
  color: black;
}

.dropdown-menu {
  margin-left: 5px;
  margin-right: 5px;
}

.dropdown-menu:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  flex-wrap: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: green;
  color: white;
}

.dropdown-button {
  background-color: inherit;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

.dropdown-content {
  display: none;
  position: fixed;
  max-width: 132px;
  border: 3px solid black;
}

.dropdown-content a {
  display: flex;
  flex-direction: column;
  flex-wrap: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.banner {
  max-height: 300px;
  width: 100%;
  border-bottom: 3px solid green;
}

.about-section,
.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 100px;
}

.about-me {
  display: flex;
  flex-direction: column;
  flex-wrap: column;
  text-align: center;
  width: 100%;
  font-size: 32px;
}

.about-title,
.contact-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 34px;
  width: 50%;
  -webkit-text-stroke: 3px green;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 32px;
}

.contact-info a {
  color: white;
}

.contact-info a:hover {
  color: green;
}

.portfolio-section {
  display: flex;
  flex-direction: column;
  flex-wrap: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
}

.portfolio-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 34px;
  -webkit-text-stroke: 3px green;
  margin-bottom: 20px;
}

.portfolio-row {
  display: flex;
  flex-direction: row;
  flex-wrap: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.portfolio-column {
  display: flex;
  flex-direction: column;
  flex-wrap: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  flex-wrap: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: green;
  border: 5px solid white;
  border-radius: 10px;
  padding: 15px;
  height: 675px;
  width: 550px;
}

.portfolio-item h3 {
  font-size: 24px;
}

.portfolio-item img {
  height: 500px;
  width: 500px;
}

.portfolio-item a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-left: 50px;
  margin-right: 50px;
}

.footer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  background-color: green;
  font-weight: bold;
  height: 50px;
  bottom: 0;
  width: 100%;
}

.copyright,
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-flow: row;
}

.copyright {
  color: white;
  font-size: 14px;
}

.link-icon {
  margin-left: 5px;
  margin-right: 5px;
}

.link-icon a {
  color: white;
}

@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }

  .page-section > h2,
  .page-section > div {
    flex: 0 0 100%;
  }

  .page-section > h2 {
    border-right: none;
    border-bottom: 4px solid var(--primary);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }
}

@media screen and (max-width: 768px) {
  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }

  .flex-item:first-child {
    min-height: 150px;
  }

  .hero-banner {
    justify-content: center;
    text-align: center;
  }

  .contact address {
    flex-direction: column;
    align-items: flex-start;
  }
}
